<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div>
         <h1>Page about</h1>
         <li>Name : Hereditaria</li>
         <li>First name : Misería</li>
         <li>Age : 122</li>
    </div>
    <a href="/"><h3> Back</h3></a>
   
</body>
</html>